ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: #333;
}

.nav-aside{
  width: 200px;
  background: red;
}

.categoty .cate-title{
  display: block;
  margin-left: 10px;
  padding: 10px 0;
  font-color: white;
  border-bottom: 1px dotted #de272e;

}


.categoty {
  position: relative;

}

.categoty .icon{
  position: absolute;
  right: 10px;
  top: 10px;
}

.categoty .child-panel{
  position: absolute;
  left: 200px;
  top: 0;
  width: 200px;
  border: 1px solid #ccc;
  background: #fff;
  display: none;
}
.nav-aside .category .child-panel{
    display: block;
  }

.child-panel li{
  float: left;
  width: 60px;
  margin: 0 10px ;
  padding: 10px 10px;
}
