@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

*{
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.middle:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

html,body{
	height: 100%;
	width: 100%;
}
.musicbox{
	width: 100%;
	height:100%;
}

.musicbox .nav{
	width: 100%;
	height: 50px;
	color: white;
	margin: auto;
}

.musicbox .nav .back,.nav .forward{
	width: 3%;
	height: 50px;
}

.nav .back{
	float: left;
}

.nav .forward{
	float: left;
}

.nav .fa:hover{
	cursor: pointer;
}

.nav .channel{
	float: left;
	width: 94%;
	height: 50px;
	overflow: hidden;
	position: relative;
}

.nav .channel-ct{
	position: absolute;
	text-align: center;
	height: 50px;
}

.nav .channel li:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.nav .channel li{
	height: 50px;
	float: left;
	vertical-align: middle;
	padding: 0 10px 0 10px;
}

.nav .channel li:hover{
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}

.musicbox .music{
	width: 50%;
	height: 84.8%;
	margin: auto;
	float: left;
}

.musicbox .background{
	height:350px;
	width: 100%;
}

.musicbox .background .circle{
	width: 350px;
	height: 350px;
	overflow: hidden;
	background-image: url(../img/heijiao.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 80px;
	border: 3px solid white;
}

.musicbox .background .circle .rotate{
	position: relative;
	width: 72%;
	height: 72%;
 	border-radius: 50%;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	overflow: hidden;
}

.musicbox .icons{
	width: 500px;
	height: 50px;
	margin: 0 auto;
	margin-top: 50px;
}

.musicbox .icons .download ,.lyrice,.comment,.love{
	width: 125px;
	height: 50px;
	float: left;
	text-align: center;
}

.musicbox .icons .fa{
	font-size: 20px;
	vertical-align: middle;
	color: white;
}

.musicbox .icons .lyrice .fa{
	color: rgb(241,97,93);
}

.musicbox .control-progress{
	width: 100%;
	height: 50px;
	float: left;
}

.musicbox .control{
	width: 20%;
	height: 50px;
	float: left;
	margin-left: 52px;
}


.musicbox .control .play,.back,.forward{
	width: 33.333333%;
	height: 50px;
	float: left;
	text-align: center;
}

.musicbox .control .fa{
	font-size:25px;
	color: rgb(255,255,255);
	vertical-align: middle;
}

.musicbox .control-progress .progress{
	width: 40%;
	height: 50px;
	float: left;
	position: relative;
}

.musicbox .control-progress .progress .bar{
	width: 84%;
	height: 3px;
	display: inline-block;
	margin-left: 13px;
	vertical-align: middle;
	background-color: rgb(84,89,108);
	cursor: pointer;
}

.musicbox .progress .bar .progress-now{
	background: white;
	height: 100%;
	width: 0;
}

.progress .time{
	position: absolute;
	right:24px;
	top: 29px;
	color: white;
}

.musicbox .volume{
	width: 20%;
	height: 50px;
	float: left;
	margin-left: 30px;
}

.volume .icon{
	width: 20%;
	height: 50px;
	float: left;
	margin-left: 5px;
}

.musicbox .volume .fa{
	margin-left: 5px;
	font-size: 25px;
	vertical-align: middle;
	color: white;
}

.volume .volume-progress{
	width: 76%;
	height: 50px;
	float: left;
}

.volume .volume-progress .bar{
	width: 80%;
	height: 3px;
	background-color: rgb(84,89,108);
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.volume .volume-progress .bar .volume-now{
	background: white;
	height: 100%;
}



.musicbox .content{
	float: right;
	width: 50%;
	height: 500px;
	overflow: hidden;
	position: relative;
	color: white;
	text-align: center;
}

.musicbox .content .title{
	font-size: 40px;
}

.musicbox .content .auther{
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #ccc;
}

.musicbox .content .lrc{
	text-align: center;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.content .lrc ul{
	width: 100%;
	position: absolute;
	top: 120px;
}

.content .lrc li{
	padding-top: 10px;
	padding-bottom: 10px;
}

.highLight{
	color: rgb(194,166,265);
}

.active{
	background-color: rgba(0,0,0,0.1);
}

#background{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: blur(12px) brightness(0.5);
	top: 0;
	left: 0;
	z-index: -2;
}